{% extends 'base.html' %}

{% block content %}

    {% for symbol in stock  %}
    {% empty %}
        <h1>Search</h1>
        <form action = {% url 'stock_create' %} method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
        </form>
    {% endfor  %}

    {% for symbol in stock %}
        {% if symbol.pk == 1 %}
        <h1>Search</h1>
        <form action = {% url 'stock_edit' symbol.pk %} method="post" id="myForm">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
        </form>
        <canvas id="myChart" width="400" height="400"></canvas>
        {% endif %}
    {% endfor %}

    <script>
        var ticker = "{{ ticker }}" 
        var endpoint1 = 'https://www.alphavantage.co/query?function=SMA&interval=daily&time_period=10&series_type=close&symbol='+ticker+'&apikey=3B8UZ3CBWOU6P33F'
        var dac = []
        
        res1 = $(document).ready(function(){
            lo = []
            $.ajax({
                method: "GET",
                url: endpoint1,
                crossDomain: true,
                success: function(data){
                    i=data['Technical Analysis: SMA']
                    sma = []
                    dates = []
                    ting = function(){
                       
                        var ii = []
                        for (let key in i) {
                            dates.push(String(key))

                            lo.push(i[key])
                            
                            ;}

                        for (let key in lo) {
                        sma.push(Number(lo[key]['SMA']))
                        ;}
                            //sma=sma
                            ;}
                    ting()        
                    //console.log(i)
                    //console.log(sma)
                    //console.log(dates)

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Simple Moving Average',
                                data: sma,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                            
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',

                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
        });
                },
                error: function(error_data){
                console.log("error")}

        });
        });

        var endpoint = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&outputsize=full&symbol='+ticker+'&apikey=3B8UZ3CBWOU6P33F'
        
        res = $(document).ready(function(){
            $.ajax({
                method: "GET",
                url: endpoint,
                crossDomain: true,
                success: function(data){
                    daily_close=data['Time Series (Daily)']
                    adjusted_close=data['Time Series (Daily)']
                    
                },
                error: function(error_data){
                console.log("error")}
        });
        });
    
        </script>
{% endblock content %}